/* import fonts from google font  */

@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Jim+Nightshade&display=swap');

/* CSS variables */

:root{
    --nav-link-primary-color: #030829;
    --nav-link-hover-colour: #0b460b;
}

/* spacing, fonts colours */

.text-center{
    text-align: center;
}
.text-jim{
    font-family: "Jim Nightshade", cursive;
}

body{
    margin: 0 auto;
}
/* header */
#main-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* sticky positioning at the top of the viewport */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #ffffff;
}

#nav-bar{
    flex: 0.6;
}

#nav-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

#nav-bar li{
    font-family: 'Italianno', cursive;
    font-size: 24pt;
}

.nav-link{
    text-decoration: none;
    color: var(--nav-link-primary-color);
}

.nav-link:hover{
    color: var(--nav-link-hover-colour);
}

ul{
    list-style: none;
}

/* footer */
#main-footer{
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#opening-times{
    text-align: center;
}

#social img{
    width: 50px;
    height: 50px;
    margin-right: 50px;
}

/* index.html */
#description-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* gallery */

#gallery-container{
    width: 90%; /* 90% of its parent element*/
    display: grid; /* Create a grid layout*/
    /* Create template for rows nd columns*/
    grid-template-rows: repeat(3, 30vw); /* Three rows, each row has a height of 30% of wieport width*/
    grid-template-columns: repeat(3, 30vw); /* three columns each columns has a width of 30% of wieport width */
/* relative units:
    widht vieport -> vw
    height of vieport -> vh */
    margin: 0 auto; /* you can center a div inside another div */
    margin-bottom: 5%;

    column-gap: 10px;
    row-gap: 15px;


}

.grid-image{
    /* properties to contorl how the image is displayed */
    background-size: cover; /*Scale the image to cover the entire containier */
    background-position: center; /*Position the image at the cemnter of the container */
    background-repeat: no-repeat; /* Prevents the image for repeating in horizontal and vertical*/
}
#img-1{
    background-image: url('../images/chocolateFondant.jpg'); /* add an image as background */
}

#img-2{
    background-image: url('../images/filletMushrom.jpg');
}
#img-3{
    background-image: url('../images/iceCream.webp');
}

#img-4{
    background-image: url('../images/lamb.jpeg');
}

#img-5{
    background-image: url('../images/mousse.jpg');
}

#img-6{
    background-image: url('../images/onionSoup.jpg');
}

#img-7{
    background-image: url('../images//risotto.png');
}

#img-8{
    background-image: url('../images/seabass.jpg');
}

#img-9{
    background-image: url('../images/tunaTartare.jpg');
}